#main_container{
    display:flex;
}

#main_right_container{
    width:1040px;
}

#main_story_section{
    height:13%;
    width:100%;
    background-color:red;
}

#right-feed-section{
    height:87%;
    width:100%;
    display:flex;
}

#content-section{
    height:100%;
    max-height:100%;
    overflow:scroll;
    background:blue;
    width:65%;
}

#suggestion-section{
    height:100%;
    width:35%;
    background-color:green;
}